<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
  <script> 
    function dothejax() {
      // alert('is this called?');
      //do an ajax
        $.get('/math_service', 
          {
            'weight': $('input[name=weight]').val(),
            'package': $('input[name=package]:checked').val()
          },
          function callback(data, status) {
          //when the thing comes back, update the DOM. 
          if (status != 'success') {
            console.log(status);
          } else {
            // var result = data.result;
            var result = data.result;
            //update DOM.
            $('#result').html(result);
              
          }
        });
    }
    
    
  </script>
  <div class="container">
    <h1>This is a test</h1>
    <form action="/math" method="GET">
      <label for="weight">Ounces</label>
      <input type="text" name="weight" value="2"><br/>

      <label for="package">Select Packaging</label><br/>
      <input type="radio" name="package" value="stamped" checked>
        <label for="package">Stamped Letter</label><br/>
      <input type="radio" name="package" value="metered">
        <label for="package">Metered Letter</label><br/>
      <input type="radio" name="package" value="flat">
        <label for="package">Large Flat Envelope</label><br/>
      <input type="radio" name="package" value="parcel">
        <label for="package">Parcel</label><br/>

      <input type="submit" name="submit">
    </form>
    <button onclick="dothejax()">AJAX Version </button>
    <h2 id="result"></h2>
  </div>
</body>
</html>