<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
  <div class="container">
    <h1>This is a test</h1>
    <h2><%= result %><h2>
    
  </div>
</body>
</html>